<!DOCTYPE html>
<html>
  <head>
    <title>Tamplr</title>
    <link href='http://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
    <script src="http://malsup.github.com/jquery.form.js"></script>
    <script src="/javascript/getUser.js"></script>
    <script src="/javascript/getBlog.js"></script>
    <script src="/javascript/deleteBlog.js"></script>
  </head>
  <body>
    <h1 class="tamplr-logo">tamplr</h1>
    <p>Tamplr:ssa on <%= users.length %> käyttäjää.
    <ul>
    <% for(var i=0; i<users.length; i++) {%>
      <% var u = users[i]; %>
      <li>
        <a href="/api/user/<%= u.username %>">
          <%= u.username %>
        </a>
      </li>
    <% } %>
    </ul>
    <!--
    <p>
      Voit lisätä uuden käyttäjän seuraavanlaisella
      <a href="http://curl.haxx.se/">curl</a>-komennolla:
    </p>
    <pre>curl -X POST http://<%= host %>/api/user -H 'Content-Type: application/json' -d '{"username": "teemu"}'</pre>
    <p>
      Windowsissa pitää käyttää vähän ylimääräisiä kenoviivoja:
    </p>
    <pre>curl -X POST http://<%= host %>/api/user -H 'Content-Type: application/json' -d '{\"username\": \"teemu\"}'</pre>-->

    <!-- Käyttäjän jutut -->
    <form method="POST" action="/api/user">
      username: <input type="text" name="username"><br>
      name: <input type="text" name="name"><br>
      password: <input type="password" name="password"><br>
      <input type="submit" value="Lisää käyttäjä">
    </form><br>

    <form id="getuser" method="GET" action="/api/user">
      username: <input type="text" id="getuser-username"><br>
      <input type="submit" value="Hae käyttäjä">
    </form><br>

    <p id="output"></p>

    <!-- Kirjaudu sisään -->
    <form id="login" method="POST" action="/login">
      username: <input type="text" name="username"><br>
      password: <input type="password" name="password"><br>
      <input type="submit" value="Kirjaudu">
    </form><br>

    <!-- Kirjaudu ulos -->
    <form id="login" method="POST" action="/logout">
      <input type="submit" value="Kirjaudu ulos">
    </form><br>

    <!-- Ryhmä -->
    <form method="GET" action="/api/ht">
      <input type="submit" value="Mikä ryhmä">
    </form><br>

    <!-- Blogijutut -->
    <form method="POST" action="/api/blog">
      name: <input type="text" name="blogname"><br>
      <input type="submit" value="Luo blogi">
    </form><br>

    <form id="getblog" method="GET" action="/api/blog">
      id: <input type="text" id="getblog-blogid"><br>
      <input type="submit" value="Hae blogi">
    </form><br>

    <form id="getauthoredblogs" method="GET" action="/api/user">
      username: <input type="text" id="getauthoredblogs-username"><br>
      <input type="submit" value="Hae käyttäjän blogit">
    </form><br>

    <p id="blogoutput"></p>

    id: <input id="deleteblog-id" type="text"><br>
    <button id="deleteblog" onclick="deleteBlog()">Poista blogi</button><br>
    <p id="deleteblogoutput"></p>

  </body>
</html>
